transformers==4.41.2
streamlit==1.26.0
huggingface_hub
torch
torchvision
torchaudio
black
pylint
opencv-python
gradio
cookiecutter
GitPython
pytest==7.2.1
faiss-cpu==1.7.2
huggingface_hub[cli]
beautifulsoup4