absl-py
albumentations
Faster-RCNN
deepsort
easydict
gradio
google-auth
google-auth-oauthlib
google-auth-httplib2
google-drive-downloader
gputil
matplotlib
nltk
numpy
opencv-python-headless
torch
torchaudio
torchvision
transformers