absl-py
albumentations
deepsort
easydict
gradio
google-auth
google-auth-oauthlib
google-auth-httplib2
google-drive-downloader
gputil
matplotlib
nltk
numpy
opencv-python-headless
torch
torchaudio
torchvision
transformers
requests
ipython
streamlit
transformers
black
pylint
beautifulsoup4
pandas
seaborn
six
gensim
textblob
vaderSentiment
networkx
scikit-learn
plotly
scipy==1.7.3
smart-open
spacy